
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>This is an independent project started and coded by me, <a href="http://jacobsingh.name">Jacob Singh</a> to learn some data analysis.  I hope you enjoy it. Please don't hesitate to give feedback.</p>
      <h2> Thanks </h2>
      <p>Huge thank you to Travis Roberts for tons of help on all aspects of the project, and Paul, Maggie and Alan for helping to clean up challonge, and giving feedback and encouragement! </p>
      <h2> Support </h2>
      <ul>
        <li> Financial: I pay for all the server costs so far.  It's not much, just $10/mo, but if you can sponsor a month or two, that'd be great</li>
        <li> Code: If you can write some HTML / JS / Python and want to get involved let me know</li>
        <li> Ideas: If you have any get in touch.</>
      </ul>
      <p>You can get in touch by <a href="mailto:jacobsingh@gmail.com">email</a>.</p>
    </div>
</div>
{% endblock %}
