
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to All Backgammon Groups companion stats site</h1>

  <p>This is a growing collection of fun stats and dashboards comming from our challonge database</p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> ELOs by player</h2>
      <p>Shows you the current ELO ranking (over 400 experience). Allows you to see anyone's match log and ELO progression as well</p>
      <p><a class="btn btn-default" href="{{ url_for('abg.home') }}">ELOs by player</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i>Tournament records</h2>
      <p>Who has won what tournaments</p>
      <p><a href="#" class="btn btn-default" href="#">Coming soon</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Something else</h2>
      <p>Any ideas? email me</p>
      <p><a href="mailto:jacobsingh@gmail.com" class="btn btn-default" href="mailto:jacobsingh@gmail.com">Email Jacob</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
